<!DOCTYPE HTML>
<html>

<head>
	<charset="UTF-8"/>
	<title>ApapachateStore</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<!--<link rel=stylesheet href="{{url_for('static', filename='estilos.css')}} ">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src="{{url_for('static', filename='script.js')}}"></script>
</head>

<body>	
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
            <a class="navbar-brand" href="/">ApapachateStore</a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <a class="nav-link active" onclick="active('inicio')" id="Inicio" href="/">Inicio</a>
                <a class="nav-link active" onclick="active('productos')" id="Productos" href="/productos">Productos</a>
                <a class="nav-link active" onclick="active('carrito')" id="Carrito" href="/carrito" >Carrito</a>
                </div>
            </div>
        </nav>
    </div>

	<div class="container">
		
			{% block content %}
			{% endblock %}
		
	</div>
		

</body><!--body-->

</html>
